@{
    ViewData["Title"] = "Account";
}

<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="r.a.petrusenko@student.khai.edu">
    </div>
</div>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Прізвище</label>
        <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticName" value="Roman">
    </div>
</div>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Ім'я</label>
        <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticSurname" value="Petrusenko">
    </div>
</div>
<a asp-controller="Home" asp-action="Login">Змінити пароль.</a> 