@{
    ViewData["Title"] = "Головна";
}

@* <div class="text-center">
    <h1 class="display-4">Замовляти квитки зручно!</h1>
</div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Звідки летимо?" aria-label="Звідки летимо?">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Куди летимо?" aria-label="Куди летимо?">
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">Знайти рейс</button>
</div> *@
<div class="text-center">
    <h1 class="display-4">Замовляти квитки зручно!</h1>
</div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Звідки летимо?" aria-label="Звідки летимо?">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Куди летимо?" aria-label="Куди летимо?">
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto mt-4">
  <button class="btn btn-primary" type="button" style="background-color: #007bff; border-color: #007bff; font-family: 'Arial', sans-serif; font-weight: bold;">Знайти рейс</button>
</div>
